name: Publish LaTeX resume
on:
  push:
    branches: [main]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v1
      - name: Compile LaTeX document
        uses: dante-ev/latex-action@master
        with:
          root_file: ${{FULLNAME}}.tex
          working_directory: ./
      - name: Zip files
        uses: montudor/action-zip@v0.1.0
        with:
          args: zip -qq -r current.zip ./${{FULLNAME}}.pdf
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v2.x
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.GITHUB_SHA_SHORT }}
          release_name: Release ${{ env.GITHUB_SHA_SHORT }}
          draft: false
          prerelease: true
      - name: Publish resume build
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} 
          asset_path: ./current.zip
          asset_name: ${FULLNAME}.zip
          asset_content_type: application/zip
